@font-face {
    font-family: "ShareTechMono";
    src:local("ShareTechMono-Regular-ttf"),
    url("ShareTechMono-Regular.ttf");
}

@font-face{
    font-family: "PTMono";
    src:local("pt-mono.regular"),
    url("pt-mono.regular.ttf");
}

@font-face{
    font-family: "PTMonoBold";
    src:local("pt-mono.bold"),
    url("pt-mono.bold.ttf");
}

body            {letter-spacing: 0.1px; padding: 0; margin: 0; font-family: "ShareTechMono"; 
                font-weight: 400; font-size: 17px; color: #c7dcd0; background: #2e222f;}
html            {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
pre             {padding: 0; margin: 0 0 50px 0;}
ul              {padding: 0;}
span            {padding: 0; margin: 0 10px 0 0;}
li              {margin: 15px 0; padding: 0; list-style: none;}
a               {text-decoration: none; color: #fff;}
a:hover         {color: #fff; text-decoration: underline;}
p               {padding: 0; margin: 10px 0 30px 0;}
img             {width: 900px; max-width: 900px; margin-bottom: 20px;}
#page           {max-width: 900px; margin: auto; padding: 0 20px;}
#content        {max-width:100%; margin: auto;font-family:"PTMono";}
#footer 		{max-width: 900px; margin:auto; margin-top: 55px;}
.header			{height: 66px; width: 100%; margin: 50px; border-bottom: dotted 1px #444;}
.logodiv 		{max-width: 900px; margin:auto; padding: 0 20px;}
.logo			{width: 41px; margin: auto; margin-top: 20px; border: solid 1px #FFF;}
#list           {margin-bottom: 50px;}
#post           {max-width: 900px; margin-bottom: 20px; margin-top: -10px; line-height: 28px;}
.categories		{max-width: 300px; right:0; margin: 40px 60px 0 0; position: fixed; background: #222;
				text-align: right; z-index: 0;}
.footdogs       {margin:0 5px}
.tag            {color: #c8c8c8;}
.title          {display: inline-block; margin-bottom: 20px; margin-top: 20px; color: #FFF;}
.filter         {display:block; margin-bottom: auto; margin-top: auto; text-align: right;}


@media 			only screen and (max-width: 900px)
{
img 			{width: 100%;}
body			{font-size: 19px;}
}